version: "2.2"
services:
  web:
    image: politecnico/compose-web
    build: web
    ports:
      - 81:3000
  db:
    image: politecnico/compose-db
    build: database
    volumes:
      - pets-data:/var/lib/postgresql/data

volumes:
  pets-data:
